body {
    font-family: Roboto, 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
}

.all-width {
    width: 70%;
    margin: 0 auto;
}

p {
    font-size: 18px;
}

section {
    padding: 80px 0;
}
/* header */

header{
    padding: 30px 0;
    background-color: rgb(55, 14, 72);
    color: white;
}

.top-menu, ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    gap: 20px;
}
li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
}

/* Top section welcome */

/* txt etc */
h1 {
    font-size: 48px;
    font-weight: 900;
}

/* END txt etc */

.welcome-section {
    display: flex;
    flex-wrap: wrap;
}

.welcome-img, .welcome-txt {
    flex-basis: 50%;
}

.picture-1 {
    object-fit: contain;
    width: 100%;
}

.welcome-txt { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    color: white;
}

.welcome-background {
    background-color: rgb(55, 14, 72);
}
/* why infos */

.info-illustrations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-box {
    height: 200px;
    width: 200px;
}

.main-box p {
    text-align: center;
    margin-top: 10px;
}

.all-width h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
.picture-box {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-box {
    width: 200px;
}
/* END why infos */

/* quote */
.quote {
    font-style:italic;
    font-size: 36px;
    font-weight: 200;
}

.author {
    font-weight: 900;
    text-align: right;
}

.background-grey {
    background-color: rgb(233, 231, 231);
    padding: 100px;
}
/* END quote */

/* cta */
.div-cta {
    background-color: rgb(215, 140, 247);;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px 100px;
}

.bold-p {
    font-weight: 900;
}
/* END cta */

/* footer */
footer p {
    text-align: center;
    padding: 20px 0;
}

footer {
    background-color: rgb(233, 231, 231);
}
/* END footer */

/* buttons */
button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgb(215, 140, 247);
}

.button-cta {
    border: 2px white solid;
}

.button-welcome {
    border: none;
}
.button-cta:hover, .button-welcome:hover{
    border: 2px white solid;
    background-color: rgb(196, 138, 176);
}
/* END buttons */