body {
    font-family: Roboto, 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
}

/* header */

.top-menu, ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style-type: none;
}