body {
    font-family: Roboto, 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
}

.all-width {
    width: 70%;
    margin: 0 auto;
}

p {
    font-size: 18px;
}
/* header */

header, main {
    padding: 30px 0;
}

.top-menu, ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    gap: 20px;
}
li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
}

/* Top section welcome */

/* txt etc */
h1 {
    font-size: 48px;
    font-weight: 900;
}

/* END txt etc */

.welcome-section {
    display: flex;
    flex-wrap: wrap;
}

.welcome-img, .welcome-txt {
    flex-basis: 50%;
}

.picture-1 {
    object-fit: contain;
    width: 100%;
}

.welcome-txt { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

/* why infos */

.info-illustrations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-box {
    height: 200px;
    width: 200px;
}

.main-box p {
    text-align: center;
    margin-top: 10px;
}

.all-width h2 {
    text-align: center;
    font-size: 36px;
}
.picture-box {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-box {
    width: 200px;
}
/* END why infos */

/* quote */
.quote {
    font-style:italic;
    font-size: 36px;
    font-weight: 200;
}

.author {
    font-weight: 900;
    text-align: right;
}

.quote-padding {
    padding: 150px;
}
/* END quote */